#fh5co-header > .navbar li.current-menu-item a {
  background: none !important;
  color: #e32929;
}

#fh5co-team .fw-row > div {
  opacity: 0;
}

/* Pagination */

.pagination {
  text-align: center;
  width: 100%;
}

.pagination li {
  display: inline-block;
}

.pagination li a,
.pagination li span {
  color: #000;
  float: left;
  padding: 0 16px;
  text-decoration: none;
  display: block;
  border-radius: 2px;
}

.pagination li span.current {
  color: #fff;
  background-color: #e32929;
}
